@model SVEUCILISNA_KNJIZNICA.Models.Zaliha

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zaliha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StanjeZaliha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StanjeZaliha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knjiga.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knjiga.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ZalihaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
